body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background-color: #121214;
    color: #fff;

    width: 100%;
    height: 100vh;

    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
} 

body, button, input {
    font-family: 'Roboto', sans-serif;
}

